  <h5 ng-click="scopefunction()">{{scopestring}}'s Team Directive</h5>
  <div ng-repeat="team in scopedata">
    <ul class="collection z-depth-1">
      <li class="collection-item" ng-click="team.details ? close(team) : toggle(team)"><h5>Rank: {{team.rank}}</h5></li>
    
      <li class="collection-item2 animated slideInLeft" ng-show="team.details">
        <div>
          <img src="{{team.logo}}" style="max-width: 150px; margin-top: 20px;">
          <h6>Team: {{team.name}}</h6>
          <h6>Best Player: {{team.bestPlayer}}</6>
          </br>
          </br>
        </div>
      </li>
    </ul>
</div>